* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 20px;
  background: #fff;
  color: #2c3e50;
}

ul {
  list-style: none;
}
